doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title Parallax Scrolling Effect
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    header.header
      h1.header__copy Parallax Scrolling Effect

    each val, i in ['Parallax', 'Scroll', 'Effect']
      .parallax(class="parallax#{i+1}")
        .parallax__container
          h1.parallax__heading= val
      .content
        .content__container
          h1.content__heading Lorem Ipsum Dolor
          - for (var j = 0; j < 4; j++)
            p.content__p Sit consectetur lorem tempora nostrum a ipsa odit dolores velit, aliquam dolorem consequatur eaque. Vero dolore laborum sit illo fugiat adipisci. Excepturi sed odit amet quaerat aspernatur. Natus aliquam fuga! Sit nulla labore ad expedita expedita aspernatur. Expedita consequatur consectetur possimus earum consequatur repellendus. Blanditiis eum vitae neque voluptate quaerat nobis rerum cumque. Alias praesentium repellendus debitis adipisci odio. Neque?

    footer.footer
      .footer__copy &copy 2015, shgtkshruch
